.atmosphere {
  position: absolute;
  left: -5%;
  right: -5%;
  height: 300px;
  bottom: 0;
  pointer-events: none;
  z-index: -1;
  opacity: .35;
  mask-image: linear-gradient(transparent, #000 45%);
}
